
@import "font.css";

.root{
    -app-bg-color: #282a36;
    -app-bg-dark: #21222c;
    -app-border-color: #BBBBBB;

    -app-primary: #076188;
    -app-danger: #e55353;
    -app-white: #F0F0F0;
    -app-border: #16161D;
}

.root *{
    -fx-text-fill: -app-white;
    -fx-font-size: 12px;
    -fx-font-family: Figtree, SansSerif;
}

.jfx-rippler{
    /*-jfx-rippler-fill: -fx-primary;*/
}

/*********************************menu*************************/

.menu-bar, .context-menu{
    -fx-background-color: #2c2c2c;
    -fx-border-width: 0;
}

.menu-bar .label{
    -fx-text-fill: #bbbbbb;
}

.separator-menu-item:hover,
.radio-menu-item:hover,
.check-menu-item:hover,
.menu-item:hover,
.menu:hover,
.separator-menu-item:focused,
.radio-menu-item:focused,
.check-menu-item:focused,
.menu-item:focused,
.menu:focused{
    -fx-background-color: #2c2c2c;
}

/******************************split pane**********************************/

.split-pane{
    -fx-background-color: -app-bg-dark;
}

.split-pane-divider{
    -fx-background-color: -app-bg-color;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

/*****************************scrool pane****************************/

.scroll-pane{
    -fx-border-width: 0;
    -fx-fit-to-width: true;
    -fx-padding: 0;
}

.scroll-pane,
.scroll-pane .viewport{
    -fx-background-color: transparent;
}

.scroll-pane-form,
.scroll-pane-control{
    -fx-hbar-policy: never;
    -fx-background-color: -app-bg-color;
}

.scroll-pane-control{
    -fx-min-width: 150px;
    -fx-max-width: 250px;
}

.scroll-pane-form{
    -fx-pref-width: 35px;
    -fx-alignment: top-center;
    -fx-spacing: 8px;
    -fx-padding: 10px 5px;
    -fx-fill-width: true;
}

.scroll-pane-form .jfx-button{
    -fx-content-display: graphic-only;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-padding: 6px;
}

.scroll-pane-form .jfx-button:hover{
    -fx-background-color: #4D4E56;
}

.scroll-pane-form .selected-shape-menu,
.scroll-pane-form .selected-shape-menu:hover{
    -fx-background-color: -app-primary;
}

.scroll-pane-form .jfx-button .ikonli-font-icon{
    -fx-icon-color: -app-white;
    -fx-icon-size: 20px;
}

/******************************scrool bar**************************/

.scroll-bar{
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
    -fx-border-width: 0;
}

.scroll-bar *,
.scroll-bar,
.corner{
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.scroll-bar .thumb{
    -fx-background-color: #bbb;
    -fx-opacity: 0.2;
    -fx-background-radius: 0px;
    -fx-border-width: 0;
    -fx-max-width: 7px;
}

.corner{
    -fx-background-color: -app-bg-color;
}

.scroll-bar .thumb:pressed,
.scroll-bar .thumb:hover
{
    -fx-opacity: 1;
}

.scroll-bar .track,
.scroll-bar .track-background{
    -fx-background-color: -app-bg-color;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-bar .increment-button,
.scroll-bar .decrement-button{
    -fx-pref-width: 0;
    -fx-pref-heigth: 0;
}

/***************************** FOOTER *****************************/

.footer{
    -fx-background-color: -app-bg-color;
    -fx-pref-height: 20px;
}


/********************** Dialog *****************************/

.jfx-dialog-layout{
    -fx-background-color: -app-bg-color;
    -fx-text-fill: -app-white;
}

/********************** Canvas ***************************/

.pane-canvas{
    -fx-background-image: url("../image/backgroung-canvas.jpg");
    -fx-padding: 20;
}

.canvas{
    -fx-background-color: -app-white;
}


/***************************** button **********************/

.jfx-button{
    -fx-padding: 7px 14px;
    -fx-text-fill: -app-white;
}

.button-primary{
    -fx-background-color: -app-primary;
}

.button-danger{
    -fx-background-color: -app-danger;
}

.button-dark{
    -fx-background-color: -app-bg-dark;
}

.button-bordered{
    -fx-border-color: -app-border;
    -fx-border-radius: 4px;
}

/**************************** check box ******************************/

.jfx-check-box {
    -jfx-unchecked-color: #5A5A5A;
    -jfx-checked-color: -app-primary;
}

.jfx-check-box:selected .box {
    /*-fx-pref-width: 15px;*/
    /*-fx-pref-height: 15px;*/
}

/*************************** Separator ********************************/

.separator > *{
    -fx-border-color: -app-border;
    -fx-border-width: 1;
}

/*********************** Box form **********************/

.box-form{
    -fx-padding: 20px;
    -fx-spacing: 30px;
}

.box-form .box-form-item,
.box-form .box-form-item .box{
    -fx-spacing: 8px;
}

.box-form .box-form-item .box{
    -fx-alignment: center;
}

.box-form .box-form-item-box{
    -fx-spacing: 15px;
}

.separator{
    -fx-background-color: -app-bg-dark !important;
}

.box-form .text-field,
.box-form .color-picker,
.box-form .spinner{
    -fx-pref-height: 30px;
    -fx-background-color: -app-bg-dark;
    -fx-pref-width: 500px;
    -fx-border-color: -app-border;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.box-form .spinner .text-field{
    -fx-pref-height: 25px;
}

.box-form .spinner > *{
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

.box-form .jfx-check-box .box {
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

/*.box-form .arrows-on-right-horizontal,*/
/*.box-form .arrows-on-left-vertical,*/
/*.box-form .arrows-on-left-horizontal,*/
/*.box-form .split-arrows-vertical,*/
/*.box-form .split-arrows-horizontal{*/
/*    -fx-background-color: -app-danger;*/
/*    -fx-text-fill: -app-danger;*/
/*}*/